
<!DOCTYPE html>
<html>
<head>
<style>

body {
background-color: green;
}

h1 {
color: blue;
font-family: verdana;
font-size: 200%;
background-color: powderblue;
text-align: center;
}

h2 {
color: red;
font-family: Courier;
font-size: 150%;
background-color: powderblue;
text-align: upperLeft;
} 

p {
color: powderblue;
font-family: Courier;
font-size: 100%;
} 

.city {
background-color: tomato;
color: white;
border: 2px solid black;
margin: 20px;
padding: 20px;
} 

.note {
font-size: 120%;
color: red;
}

.city {
background-color: tomato;
color: white;
padding: 10px;
} 

</style>
<link rel= "stylesheet" href= "mystyle.css">
</head>
<body>
<h1>PROFILE OF OUR PARTNERS</h1>
<h2> Profile of Our Founding Partner</h2>

<pre>
<p>
An excellence driven legal practitioner with passion to 
providing best possible solution to clients’ needs, to 
contribute to the progress of any organization connected 
to and desires to advance in acquisition of skills and 
knowledge in the legal profession as would be relevant to 
any field of human endeavours. I have interest in Corporate 
and Commercial Law Practice, Banking, Finance and Techno-
logy (FinTech) Law, Arbitration and Litigation, Energy 
Resources Law, International Law, Intellectual Property,
Industrial and Labour Relation Law, Law of Secured Credit 
Transaction and Property Law Practice. I am currently 
undergoing trainings in relation to Data Protection 
</p>
</pre>

<a href="mailto:odeleyebola@gmail.com">Contact Him Here</a>
<br>
<button onclick="document.location='C:\Users\USER\Desktop\HTML WORKFOLDER\Twitter Pictures'">Pictures</button>
<br>
<br>
<a href="C:/Users/USER/Desktop/HTML%20WORKFOLDER/MYHTMLWORK.html" target="_blank">Visit MYHTMLWORKWORK!</a>
<br>
<button onclick="document.location='default.asp'">HTML Tutorial</button>
<br>
<a href="https://www.w3schools.com/html/" title="Go to W3Schools HTML section">Visit our HTML Tutorial</a>
<br>

<img src="unilag.JPG" width="150" height="250">
<a href="C:\Users\USER\Desktop\decagonwork\images\about.html">click to return to about page</a>
<p>This is example of a table inserted</p>
<table style="width:20%">
<caption>RECORD OF PARTICIPANTS</caption>
<tr>
<th style="height:50%">Name</th>
<th>Age</th>
<th>Gender</th>
</tr>
<tr style="height:30%">
<td>Jill Smith</td>
<td>50</td>
<td>Male</td>
</tr>
<tr>
<td>Alfreds Futterkiste</td>
<td>45</td>
<td>Male</td>
</tr>
<td>Maria Anders</td>
<td>40</td>
<td>Female</td>
</tr>
</table>

<p>Below is example of colspan</p>
<table>
<tr>
<th colspan="2">Name</th>
<th>Age</th>
</tr>
<tr>
<td>Jill</td>
<td>Smith</td>
<td>43</td>
</tr>
<tr>
<td>Eve</td>
<td>Jackson</td>
<td>57</td>
</tr>
</table>
<p>Below is example of rowspam</p>
<table>
<tr>
<th>Name</th>
<td>Jill</td>
</tr>
<tr>
<th rowspan="2">Phone</th>
<td>555-1234</td>
</tr>
<tr>
<td>555-8745</td>
</tr>
</table>

<!--Using colgroup element-->
<table>
<colgroup>
<col span="2" style="background-color: #D6EEEE">
<col span="3" style="background-color: pink">
</colgroup>
<tr>
<caption>CALENDAR FOR MARCH, 2022</caption>
<th>MON</th>
<th>TUE</th>
<th>WED</th>
<th>THU</th>
<th>FRI</th>
<th>SAT</th>
<th>SUN</th>
</tr>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
</tr>
<tr>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
</tr>
<tr>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
<td>20</td>
<td>21</td>
</tr>
<tr>
<td>22</td>
<td>23</td>
<td>24</td>
<td>25</td>
<td>26</td>
<td>27</td>
<td>28</td>
</tr>
<tr>
<td>29</td>
<td>30</td>
<td>31</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
</tr>

</table>

<caption>This is example of unordered list in html</caption>
<ul>
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>

<caption>This is example of ordered list in html</caption>
<ol>
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ol>
<caption>This is example of description list</caption>
<dl>
<dt>Coffee</dt>
<dd>- black hot drink</dd>
<dt>Milk</dt>
<dd>- white cold drink</dd>
</dl>
<caption>This is a Disc style marker for Unordered List</caption>
<ul style="list-style-type:disc;">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<caption>This is a circle style marker for Unordered List</caption>
<ul style="list-style-type:circle;">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<caption>This is a Square style marker for Unordered List</caption>
<ul style="list-style-type:square;">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<caption>This is a None style marker for Unordered List</caption>
<ul style="list-style-type:none;">
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ul>
<caption>This is an example of a nested list</caption>
<ul>
<li>Coffee</li>
<li>Tea
<ul>
<li>Black tea</li>
<li>Green tea</li>
</ul>
</li>
<li>Milk</li>
</ul>
<caption>Example of list conatining image</caption>
<ul style="list-style-type:none">
<li>List of Pictures in my care
<ul>
<li><img src="unilag.JPG" width="15" height="10"></li>
<li><img src="unilag.JPG" width="15" height="10"></li>
<li><img src="unilag.JPG" width="15" height="10"></li>
<li><img src="unilag.JPG" width="15" height="10"></li>
<li><img src="unilag.JPG" width="15" height="10"></li>
</li>
</ul>
<caption>This is example of horizontal list</caption>
<ul class='trip'style="list-style-type:none; padding-left:40px">
<li style="float:left"; ><a href="#logo">Welcome</a></li>
<li style="float:right";><a href="#home">Home</a></li>
<li style="float:right";><a href="#news">News</a></li>
<li style="float:right";><a href="#contact">Contact</a></li>
<li style="float:right"; ><a href="#about">About</a></li>
</ul>

<caption>Below is an example of ordered list</caption>
<ol>
<li>Coffee</li>
<li>Tea</li>
<li>Milk</li>
</ol>

<caption>Below is an example of ordered list with uppercase Roman Numeral</caption>
<ol type='I'>
<li>Bread</li>
<li>Beans</li>
<li>Fish</li>
</ol>
<caption>Below is an example of ordered list starting from 5</caption>
<ol start='5'>
<li>Bread</li>
<li>Beans</li>
<li>Fish</li>
</ol>

<caption>This is a Nested Ordered List</caption>
<ol>
<li>Coffee</li>
<li>Tea
<ol>
<li>Black tea</li>
<li>Green tea</li>
</ol>
</li>
<li>Milk</li>
</ol>
<span>Hello World</span>
<h3>Hello World</h3>

<div class="city">
<h2>London</h2>
<p>London is the capital of England.</p>
</div>
<div class="city">
<h2>Paris</h2>
<p>Paris is the capital of France.</p>
</div>
<div class="city">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan.</p>
</div>
<h1>My <span class="note">Important</span> Heading</h1>
<p>This is some <span class="note">important</span> text.</p>
<caption>This is example of how to create a class</caption>
<h2 class="city">London</h2>
<p>London is the capital of England.</p>
<h2 class="city">Paris</h2>
<p>Paris is the capital of France.</p>
<h2 class="city">Tokyo</h2>
<p>Tokyo is the capital of Japan.</p>

<caption>Below are examples of element belonging to more than one class</caption>
<h2 class="city main">London</h2>
<h2 class="city">Paris</h2>
<h2 class="city">Tokyo</h2>
</body>
</html>
