<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        body {
        background-color: powderblue;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureisNow</title>
    <link rel="stylesheet" href="index.css"/>

</head>
<body>
    <div style="background-color:white;color:blue;padding:30px;">
        <h3 style= "font-size:30px;float:left;padding:5px;margin:-20px; background-color: black; color: white">Welcome</h3>
        <div class="list" style="float:right; padding:5px;margin:-20px;">
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#about">About</a></li>
    </div>
    </div>
<header>   
    <h3>
        <marquee>THE FUTURE HAS COME! THE FUTURE IS HERE!! THE FUTURE IS NOW!!!</marquee>
    </h3>
    <h1>WELCOME TO THE FUTURE</h1>
    <pre>
       <p>
        The future perhaps is no longer the traditional concept of some years to come.
        It is more accurate to be described as the summation of our daily activities,
        the skills we acquire, the knowledge we possess and the utilization of all these
        variables in productive manner that commands value. 
            
        Let nobody deceive you that your years are ahead of you. Should you relax on 
        this advice, you may wake up to realize that your years are now behind you.
        Friends, being young is a phase but growing is a continum. It is a privilege 
        that you can decide the exact life you want to live not in some years to come,
        rather now because the FUTURE IS NOW!!!
        </p>
    </pre>
    <div class="header">
        <div class="header-logo">FUTURENOW</div>
        <div class="header-list">
            <ul>
                <li>About Us</li>
                <li>Contact Us</li>
                <li>What We Do</li>
                <li>Support Us</li>
            </ul>
        </div>
    </header>

    <div class="main">
        <div class="main-copy">
            <h2>READY TO WALK THE TALK?</h2>
                <h2>Let's be your companion</h2>
        </div>
    </div>

<footer>
    <div class="contents">
        <div class="contents-label">
            <img class="logo" src="C:\Users\USER\Desktop\ownthefuture\schoolchildren.jpg">
             
        </div>
            <div class="contents-items">
                <ul style="list-style-type:none">
                    <p><a href="#What we offer">What we offer</a></p>
                        <ol>
                            <li>dev_abai</li>
                            <img src="C:\Users\USER\Desktop\ownthefuture\schoolchildren.jpg" width="40" height="55" alt="">
                            <h4>techy savy</h4>
                        </ol>
                        <ol>
                            <li>Creativity</li>
                            <img src="C:\Users\USER\Desktop\ownthefuture\schoolchildren.jpg" width="40" height="55" alt="">
                            <h4>creative lord</h4>
                        </ol>
                        <ol>
                            <li>Thinkers</li>
                            <img src="C:\Users\USER\Desktop\ownthefuture\schoolchildren.jpg" width="40" height="55" alt="">
                            <h4>rational thinker</h4>
                        </ol>
                        <ol>
                            <li>verbal lord</li>
                            <img src="C:\Users\USER\Desktop\ownthefuture\schoolchildren.jpg" width="40" height="55"alt="">
                            <h4>speech lord</h4>
                        </ol>
                </ul>
            </div>
        </div>
    </div>
   
        
</footer>

</body>
</html>

